/* Stili universali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Dark-mode */
HTML, header, main, footer {
    background-color: black;
    color: white;
}

/* Stili generali */
#container {
    width: 60%;
    height: 100%;
    background-color: black;
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}