/* Stili universali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Dark-mode */
HTML, header, main, footer {
    background-color: black;
    color: white;
}

/* Stili generali */
#pc-div, #user-div {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.square {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    border: 1px solid gray;
}